

.contenedor{
    position: absolute;
    top:1100px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 500px;
    display: flex;
    
}
.contenedor .Box1{
    position: relative;
    width: 250px;
    height:500px;
    background: #ccc;
    transition: 0.5s;
}
.contenedor .Box1:hover{
transform: scale(1.1);
z-index:1;
box-shadow: 0 5px 10px rgba(0, 0,0,1);
}
.contenedor .Box1:nth-child(odd) .thumb{
    bottom: 0;
    left: 0;

}
.contenedor .Box1 .thumb{
   
   position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.contenedor .Box1 .thumb img{
width: 100%;
height:100% ;
}
.contenedor .Box1 .details{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;

}
.contenedor .Box1:nth-child(even) .details{
    bottom: 0;
    left: 0;

}
.contenedor .Box1:nth-child(1) .details{
   background: #8553cb;

}
.contenedor .Box1:nth-child(2) .details{
    background: #fe8f01;
 
 }
 .contenedor .Box1:nth-child(3) .details{
    background: #79d400;
 
 }
 .contenedor .Box1:nth-child(4) .details{
    background: #ff3b34;
 
 }
 .contenedor .Box1 .details .contenido{
     position: absolute;
     top: calc(50% - 16px);
     transform: translateY(-50%);
     width: 100%;
     padding: 20px;
     box-sizing: border-box;
     text-align:center;
     transition: 0.5s;

 }
 .contenedor .Box1:hover .details .contenido{
    top:calc(50%);

 }
 .contenedor .Box1 .details .contenido .fa{
     font-size: 80px;
     color:white;

 }
 .contenedor .Box1 .details .contenido h1{
     margin: 0;
     padding: 0;
     padding: 10px 0;
     color: #fff;
 }
 .contenedor .Box1 .details .contenido a{
     display: inline-block;
     padding: 5px 20px;
     color:#fff;
     border: 2px solid #fff;
     text-decoration: none;
     transition: 0.5s;
     border-radius: 20px;
     transform: scale(0);
 }
 .contenedor .Box1:hover .details .contenido a{
    transform: scale(1);
 }
 .contenedor .Box1 .details .contenido a:hover{
     background: #fff;
     color: #162626;


 }
 div#desc{
     height: 300px;
     margin-top:700px;
 }

 @media(max-width:1000px){
     .contenedor{
         top:850px;
         width: 100%;
         height: auto;
         padding:20px;
         box-sizing: border-box;
     }
     .contenedor .Box1{
            height:250px ;
     }
     .contenedor .Box1 .thumb{
         display:none;
     }
     .footer{
         margin-top:150%;
     }
     div#BOT{
        margin-top:150px; margin-left:30%; 
     }
     
 }
 div#BOT{
    margin-top:150px; margin-left:43%; 
 }
 @media(max-width:768px){
     .contenedor{
         top:920px;
         display: initial;
        }
        .contenedor .Box1{
            width:50% ;
            float: left;
            height: 250px;
     }
     div#BOT{
        margin-top:150px; margin-left:38%; 
     }

 }
 @media(max-width:480px){
    .contenedor{
        top:650px;
        left:0 ;
        transform:translate(0);
        position: none;
       }
       .contenedor .Box1{
           width:100% ;
           float: none;
           height: 250px;



    }
    
    div#desc{
    
        margin-top:1100px;
    }
    footer{
        margin-top:-500px;
    }
    div#BOT{
        margin-top:150px; margin-left:34%; 
     }

}

div#btnCita{
    top:300px;
}

footer{
    margin-top:400px;
}



.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    
    
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: right;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	text-decoration:none;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 15px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
.social{
	list-style: none;
}